<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aditya's website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>    
    #banner{
      width: 100%;
      height: 360px;
      object-fit:cover;
    }</style>
</head>
<body>
<div class="container">  
  <h1 class="text-center mt-3 mb-4" >Aditya Careers</h1>
  <img id="banner" class="img-fluid" src="https://career-website.bravebuttermilk.repl.co/static/banner_career.png" height="320">
  <h2 class="text-center mt-3 mb-4">About Jovian</h2>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit       molestiae a praesentium vitae ad, corporis illum mollitia inventore saepe dolorem blanditiis omnis expedita odio labore magni. Cumque quisquam necessitatibus sed?</p>

  <h2 class="text-center mt-3 mb-4">Open positions</h2>
  <p>TODO - show the jobs here</p>
  <div class="text-center">
    <button class="btn btn-primary btn-large">Contact Us</button>
  </div>
  <p class="text-center mt-4">Copyright, 2023 Aditya Dayal</p>
</div>
</body>
</html>