<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aditya's website</title>
  {% include 'bootstrap.html' %}

</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  

<div class="container">  
  <h1 class="text-center mt-3 mb-4" >Aditya Careers</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit       molestiae a praesentium vitae ad, corporis illum mollitia inventore saepe dolorem blanditiis omnis expedita odio labore magni. Cumque quisquam necessitatibus sed?</p>

  <h2 class="text-center mt-3 mb-4">Current Openings</h2>
  <p>
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
  </p>
  <div class="text-center">
    <a href="mailto:pwnxd@protonmail.me?subject=Question%20About%20Job%20Opening&body=My%20name%3A%20''%0D%0A%0D%0AQuestion%3A%20''" class="btn btn-primary btn-large">Contact Us</a>
  </div>
  <p class="text-center mt-4">Copyright, 2023 Aditya Dayal</p>
</div>
</body>
</html>